\#ifndef ${headerName}
\#define ${headerName}

\#include <iostream>
\#include <sstream>

class ${className}
{
public:
	//constructors
	${className}();
	${className}(${className} const &);
	virtual ~${className}();

	//getters setters
#for $attr in $lstAttr
	${attr.aType} const&	${attr.getGetterName()}()const;
	void		${attr.getSetterName()}(${attr.aType} const &);
#end for

	//other functions
	std::string	toString()const;

	${className}&	operator=(${className} const &);

protected:
#for $attr in $lstAttr
	${attr.aType}	${attr.getName()};
#end for
};

std::ostream	&operator<<(std::ostream &o, ${className} const &i);

\#endif /*${headerName}*/
