\#ifndef ${headerName}
\#define ${headerName}

\#include <string>
\#include <iostream>
\#include <sstream>

class ${className}
{
public:
	//constructors
	${className}();
	${className}(${className} const &);
	virtual ~${className}();

	//getters setters

	//other functions
	std::string	toString()const;

	${className}&	operator=(${className} const &);

protected:
};

std::ostream	&operator<<(std::ostream &o, ${className} const &i);

\#endif /*${headerName}*/
