\#include "${className}.hpp"

/******************************************************************************/
/* Constructors                                                               */
/******************************************************************************/

${className}::${className}()
{

}

${className}::${className}(${className} const &model)
{
	*this = model;
}

${className}::~${className}()
{

}

/******************************************************************************/
/* Getters Setters                                                            */
/******************************************************************************/

#for $attr in $lstAttr
${attr.aType} const& ${className}::${attr.getGetterName()}()const
{
	return ${attr.getName()};
}

void ${className}::${attr.getSetterName()}(${attr.aType} const &val)
{
	${attr.getName()} = val;
}

#end for
/******************************************************************************/
/* Other Functions                                                            */
/******************************************************************************/

std::string	${className}::toString() const
{
	std::stringstream ss;
	ss << "${className}";
	return ss.str();
}

${className}& ${className}::operator=(${className} const &model)
{
#for $attr in $lstAttr
	${attr.getName()} = model.${attr.getName()};
#end for
	return *this;
}

std::ostream &operator<<(std::ostream &o, ${className} const &i)
{
	o << i.toString();
	return o;
}
