package nfcnb.integration.omde.domain.models.xml

import scala.xml.Node

import play.api.libs.json.Json

import jto.validation.{From, Rule}
import org.joda.time.DateTime

import utils.JtoValidationUtils

${class.toScalaCaseClass()}
